body, button {
  font:13px/20px "Georgia", "Times New Roman", serif;
}
body {
  background:url('background.png') #fff;
  color:#222;
  }
a { color: #8c0f26; }
h1 {
  width:580px;
  line-height:40px;
  font-size:24px;
}
div.container {
  width:800px;
}
p {
  padding:10px 0;
  }
#map {
  background:#111;
  width:398px;
  height:398px;
  border:1px solid #111;
  float:left;
}
.map-tile {
  opacity:0;
}
.map-tile-loaded {
  -webkit-animation-name: 'fade-in';
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: .1s;
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

div.left {
  width:400px;
  position:absolute;
  top:10px;
  left:20px;
}
div.right {
  width:300px;
  position:absolute;
  left:430px;
  top:10px;
  bottom:0;
  overflow:auto;
}

div.right-2 {
  width:300px;
  position:absolute;
  left:730px;
  top:10px;
  bottom:0;
  overflow:auto;
}

div.right div.inner {
  height:1000px;
}

h3 {
  margin:10px 10px 10px 10px;
  border-bottom:1px solid #ccc;
  font-size:16px;
  line-height:19px;
}

div.content p, div.content ul {
  padding:0 10px 0 10px;
}

div.content ul {
  margin-left:20px;
}

span.highlight {
  padding:3px;
  background:#FFEDD8;
  font-family:monospace;
  font-weight:bold;
}
  

#downloaded-tiles,
#downloaded-grids {
  padding:0 10px;
}

#downloaded-tiles {
  height:60px;
}

#downloaded-grids {
  overflow:auto;
  padding-bottom:10px;
}

#downloaded-grids a {
  display:block;
  font:10px/15px "Monaco", monospace;
}

img.request-image {
  width:58px;
  height:58px;
  margin:1px;
}

/*
#map:hover .map-tile-loaded {
  -moz-opacity:.50; filter:alpha(opacity=50); opacity:.50;
}

#map img.map-tile-loaded:hover {
  opacity:1;
}
*/

.wax-tooltip {
  z-index:999999;
  position:absolute;
  background:#333;
  color:#fff;
  padding:10px;
  left:10px;
  top:10px;
  max-width:300px;
  opacity:1;
  -webkit-transition:opacity .5s;
  -moz-transition:opacity .5s;
  }

.wax-tooltip.hide { opacity:0; }

em {
  font-style:italic;
}

#tile-demonstration {
  margin:0 10px;
}

#tile-demonstration img {
  width:256px;
  height:256px;
}

#tile-demonstration .grid-pattern {
  position:absolute;
  width:256px;
  height:256px;
  background:url('grid_resolution.gif');
}

#tile-demonstration .target {
  width:12px;
  height:12px;
  position:relative;
  background:url('target.png');
}

.codebox {
  padding:0 5px;
  margin:0 10px;
  overflow:scroll;
  height:100px;
  font:10px/15px "Monaco", monospace;
  background-color:#eee;
  color:#8c0f26;
}

#feature-html {
  text-align:center;
}

/* Special sauce */
pre::-webkit-scrollbar {
  height:8px;
  width:8px;
  background:#f8f8f8;
  border-radius:4px;
  }

pre::-webkit-scrollbar-thumb:hover {
  background:#555;
}

pre::-webkit-scrollbar-thumb {
  border-radius:4px;
  background:#ccc;
  }

pre::-webkit-scrollbar-thumb:vertical { height:25px; }
pre::-webkit-scrollbar-thumb:horizontal { width:25px; }
