body {
  color:#333;
  font:14px/20px "Helvetica Neue";
}

div#head {
  padding:10px;
}

div#head h1 {
  font:bold 24px/30px "Helvetica Neue";
}

div.map {
  width:380px;
  height:180px;
  margin:10px;
}

div.highlight {
  font:normal 12px/20px monospace;
  border:1px solid #64bed6;
  margin:10px;
  padding:5px;
}

table thead {
  background-color:#eee;
}

table th {
  width:400px;
  padding:5px;
}
